body, html {
  height: 100%;
}
.view {
  /* The image used */
  background-image: url("../images/pokemon%20background.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
    text-shadow:-1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#text-header{
    text-align: center;
    color: white;
}

.enemy-data{
    color:antiquewhite;
    text-align: right;
    font-size: 20pt;
        text-shadow:     -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.player-data{
    color: greenyellow;
    text-align: left;
    font-size: 20pt;
}

#player-sprite{
    float:right; 
    width:90%;
    overflow:hidden;
}

#enemy-sprite{
    float:left;
    width:100%;
}
#action-buttons{
    color: red;
    padding-top: 35%;
}
.row{
    height: 50%
}

.btn-reset{
    float:right;
}

.forced-height{
    height: 100px !important;
}

.pokemon{
    max-height: 300px;
    overflow: hidden;
}

.attack{
    color: aliceblue;
}

.hp{
    color: aliceblue;
}

.defense{
    color:aliceblue;
}
#p-hp-bar{
    background:green;
}
#e-hp-bar{
    background:red;
}
